@model NagelConsultoriaChallenge.Models.Vehicles

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Veiculos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Plate" class="control-label"></label>
                <input asp-for="Plate" class="form-control" />
                <span asp-validation-for="Plate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <div>
                <select name="Color" id="Color">
                    <option value="Preto">Preto</option>
                    <option value="Branco">Branco</option>
                    <option value="Cinza">Cinza</option>
                    <option value="Vermelho">Vermelho</option>
                    <option value="Azul">Azul</option>
                    <option value="Amarelo">Amarelo</option>
                </select>
                </div>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FactoryYear" class="control-label"></label>
                <input asp-for="FactoryYear" class="form-control" />
                <span asp-validation-for="FactoryYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationData" class="control-label"></label>
                <input asp-for="RegistrationData" class="form-control" />
                <span asp-validation-for="RegistrationData" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
